<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="school_menu"
				groups="base.group_user"
              	name="Internship"/>

    	<menuitem id="school_student_menu"
              	parent="school_menu"
              	name="Internship"
	  			groups="base.group_user"
                sequence="1"
				action="apparel_matrix_tree_view"/>

        <menuitem id="school_student_menu"
                  name="Weekly Report"
                  parent="school_menu"
                  groups="base.group_user"
                  sequence="2"/>

    </data>
</odoo>
